body {
    background-color: #FFF;
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: #bc658ee1;
    position: fixed;
    width: 100%;
    z-index: 10;
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

li {
    padding: 10px;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #333;
}

.cap,
a,
li {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    color: #333;
}

a:hover {
    color: #DBE9EE;
}

h1 {
    color: #82c4c3;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    color: #f5a7a7;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
}

.pink,
h3 {
    color: #f5a7a7;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    padding: 30px;
}

h4 {
    color: #82c4c3;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase
}

p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    background-color: #f9d89c;
    text-align: center;
    height: 100px;
}

img:hover {
    color: rgba(51, 51, 51, 0.808);
}

.welcome {
    background-color: #f9d89c;
    height: 150px;
    padding: 40px;
    text-align: center;
    width: 100%;
    align-items: center;
}

.welcomeTitle {
    padding-top: 100px;
}

.navTitle {
    text-align: center;
    align-items: center;
    align-content: space-around;
}

.image {
    border-radius: 50%;
    align-self: center;
    padding-left: 100px;
    padding-right: 100px;
}

.contacts {
    align-items: flex-end;
}

table {
    width: 100%;
    align-content: center;
}


/* table,
td {
    border: 1px solid black;
}
*/