html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: rgba(165, 216, 216, 0.856);
    position: fixed;
    width: 100%;
    z-index: 10;
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

li {
    padding: 10px;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #333;
}

.cap,
a,
li {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    color: #333;
}

a:hover {
    color: #DBE9EE;
    font-size: 25px;
}

h1,
h4 {
    color: #23A4A4;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    color: #6ABABA;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
}

.pink,
h3 {
    color: #23A4A4;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    padding: 30px;
}

p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

img:hover {
    color: rgba(51, 51, 51, 0.808);
}

.welcomeTitle {
    padding-top: 100px;
}

.navTitle {
    text-align: center;
    align-items: center;
    align-content: space-around;
}

.image {
    border-radius: 50%;
    align-self: center;
    padding-left: 100px;
    padding-right: 100px;
}

.contacts {
    align-items: flex-end;
}

table {
    width: 100%;
    align-content: center;
}

.logo {
    font-size: 48px;
    color: #23A4A4;
}

.logo:hover {
    color: #ffffff;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "welcome welcome welcome" "aboutMe aboutMe aboutMe" "skills skills skills" "projects projects projects" "interests interests interests" "footer footer footer";
}

.welcome {
    grid-area: welcome;
    background-color: #f9d89c;
    text-align: center;
    align-items: center;
}

.aboutMe {
    grid-area: aboutMe;
}

.skills {
    grid-area: skills;
}

.projects {
    grid-area: projects;
}

.interests {
    grid-area: interests;
}

footer {
    grid-area: footer;
    background-color: #f9d89c;
    text-align: center;
    justify-self: stretch;
}